<%= form_for(@reservation) do |f| %>

  <%= render 'shared/error_messages', obj: f.object  %>

  <%= f.hidden_field :owner_id %>

  <%= f.label :initial_date %>
  <div class="input-append date datetimepicker">
    <%= f.text_field :initial_date, data: {format: "dd/MM/yyyy hh:mm"} %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

  <%= f.label :end_date %>
  <div class="input-append date datetimepicker">
    <%= f.text_field :end_date, data: {format: "dd/MM/yyyy hh:mm"} %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

  <hr>

  <%= f.submit 'Confirm', class: "btn btn-large btn-primary"%>

<% end %>
