<p id="notice"><%= notice %></p>

<p>
  <strong>Initial date:</strong>
  <%= @reservation.initial_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @reservation.end_date %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @reservation.owner_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
