<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :owner_id %>  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :users %><br>
    <%= f.select :user_ids,
      User.all.map { |u| [u.name, u.id] },
      { include_blank: true },
      { class: 'chosen-select', multiple: true }
    %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
