<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @room.owner.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Users:</strong>
  <% @room.users.each do |u| %>
  		<%= u.name %> <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
