
<div class="row">
  <aside class="span3">
    <section>
      <h1><%= @room.name %></h1>
      <h3><%= @room.owner.name %></h3>
    </section>
    <p>//TODO Put magic field for create reservation</p>
    <section>
      <p>
        <% @room.users.each_with_index do |u, index| %>
          <%= link_to u.name, u %><%= ',' unless index == @room.users.size - 1%>
        <% end %>
      </p>
    </section>
    <section>
      <h4>
        <% if can? :manage, @room %>
          <%= link_to 'Edit', edit_room_path(@room) %> |
          <%= link_to 'Destroy', @room, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <% end %>
        <%= link_to 'Back', rooms_path %>
      </h4>
    </section>
  </aside>
  <aside class="span9">
    <h1>Reservations</h1>
    <p>//TODO Show reservations</p>
  </aside>
</div>
